header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ccbca2;
    /* posición fija  */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.title{display: none;}
.logo{width: 180px;}

/* navbar */
.navbar{margin-right: 20px;}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}
.navbar a{ 
    text-decoration: none;
    font-size: 20px;
    color: #4B2E2B;
    padding: 5px;
    font-weight: 600;
}
.navbar a:hover{
    color: white;
    border-bottom: 2px solid #eee;
    transition: all 0.2s ease;
}

/* submenu */
.dropdown{
    position: relative;
}
.navbar .dropdown-menu{
    display: none;
    position: absolute;
    background-color: #ccbca2;
    padding: 10px;
    list-style: none;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu li {
    margin: 5px 0;
}

/* menu hamburguesa */
#menu-toggle-button{
    display: none;
}

/* responsive */
@media (max-width: 768px) {
    /* navbar */
    .navbar ul{
        display: none;
        position: fixed;
        top: 100px;
        background-color: #ccbca2;
        left: 0;
        width: 300px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .navbar>ul.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transform: translateX(0);
    }

    #menu-toggle-button {
        display: block;
        width: 40px;
        height: 40px;
        border: 1px solid #4B2E2B;
        color: #4B2E2B;
        background-color: transparent;
        border-radius: 5px;
        cursor: pointer;
        margin: 0 20px;
    }

    header{
        justify-content: space-evenly;
    }
    .logo{
        width: 100px;
    }

    /* submenu */
    .dropdown .dropdown-menu {
        display: none;
        width: 160px;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    .dropdown:hover .dropdown-menu {
        display: none;
    }
    .dropdown.active .dropdown-menu {
        display: block;
        transform: translateX(0);
        padding: 10px;
        background-color: #ccbca2;
    }
}
